DEBUG=1
ALLOWED_HOSTS=localhost
SECRET_KEY=django-insecure-mfl#jqh#7-%v@@c)=pnfmg$kg_flp&79%gccn#%#!ntpxrfsuy

SQL_DATABASE=realestate
SQL_ENGINE=django.db.backends.postgresql
SQL_HOST=db
SQL_PASSWORD=realestate_password
SQL_PORT=5432
SQL_USER=realestate
